flows(chatbot).json
[{"id":"5deed56f.46db5c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"39e65ab9.648d36","type":"http in","z":"5deed56f.46db5c","name":"","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":200,"y":120,"wires":[["cbb41a58.7515e8"]]},{"id":"c6347ae8.7494d8","type":"http response","z":"5deed56f.46db5c","name":"","statusCode":"","headers":{},"x":710,"y":240,"wires":[]},{"id":"cbb41a58.7515e8","type":"template","z":"5deed56f.46db5c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"b9a7804e-efef-4fe6-8c8c-f333e77dd27c\", // The ID of this integration.\n      region: \"us-south\", // The region your integration is hosted in.\n      serviceInstanceID: \"a4539af6-d0f3-4d1c-b133-92068f3181f2\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>\n</head>\n\n<body>\n<style>\n    body\n    {\n        font-family: Arial, Helvetica, sans-serif;\n        margin: 0;\n    }\n\n    .header\n    {\n        padding: 60px;\n        text-align: center;\n        background: #1abc9c;\n        color: white;\n    }\n\n    .header h1\n    {\n        font-size: 60px;\n    }\n    \n    .main\n    {   \n    \n    background-color: white;\n    padding: 20px;\n    }\n    \n</style>\n\n    <div class=\"header\">\n    <h1>IBM Bulid-a-Thon Project</h1>\n    <p>This webpage is to showcase the integration of chatbot through Node-RED and the functionality of the chatbot. </p>\n    </div>\n    <div class=\"main\">\n    <h2>Project Information:</h2>\n    <h3>Chatbot To Shop For Essentials During Pandemic Using Watson Assistant</h3>\n    <p>To access the chatbot please click on the chat icon located on bottom right corner of the webpage. The chatbot is created using Watson assistant service.<br>\n    The prime function of this chatbot is to help people to order for their essential items as to prevent the spread of COVID-19. \n    <br> The bot will show the list of items and will guide you through your order.</p>\n    <b>The chatbot has all the following capabilities as require by the project:</b>\n    <br>1) Give the list of items in the Store\n    <br>2) Should show the  prices of vegetables\n    <br>3) Display if there are any offers or discounts\n    <br>The bot should be able to take details like name, contact number, address, and the items to place the order.\n    <p><b>Note:</b> The chat icon may not appear instantly, it may take time to load and appear within a short period of time.</p>\n    \n    </div>\n</body>","output":"str","x":460,"y":180,"wires":[["c6347ae8.7494d8"]]}]